.advantages{
  background-color: $color-shark;
}


.advantages-item{
  color: $alabaster-text;
}

.advantages-item__title{
  font-size: 19.96px;
  line-height: 24px;
}


.advantages-item:nth-child(1)::before,
.advantages-item:nth-child(2)::before,
.advantages-item:nth-child(3)::before{
  content: '';
  display: block;
}


.advantages-item:nth-child(1)::before{
  width: 45px;
  height: 32px;
  background: url('../img/advantages/advantages-icon1.svg') center no-repeat;
}

.advantages-item:nth-child(2)::before {
  width: 40px;
  height: 40px;
  background: url('../img/advantages/advantages-icon2.svg') center no-repeat;
}

.advantages-item:nth-child(3)::before {
  width: 47px;
  height: 35px;
  background: url('../img/advantages/advantages-icon3.svg') center no-repeat;
}


