.burger{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 23px;
  cursor: pointer;
  &__line,
  &::before,
  &::after{
    display: block;
    width: 100%;
    height: 3px;
    background: $burger-color;
  }
  &::before,
  &::after{
    content: '';
  }
}
