

.offer-item{
  position: relative;
  z-index: 1;
  &__image{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba($offer-color-overlay, 0.7);
    z-index: 2;
  }
  &__content{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  &__suptitle{
    display: block;
    line-height: 19px;
    color: $white-color;
  }
  &__title{
    margin: 0;
    line-height: 28.8px;
    color: $froly-color;
    text-transform: uppercase;
  }
}


