.search{
  display: flex;
  align-items: center;
  padding-top: 5px;
  &__button{
    cursor: pointer;
    margin-right: 20px;
  }
  &__input{
    width: 0;
    transition: width .2s ease-in-out;
    &--active{
      width: 200px;
    }
  }
}