.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex-grow: 0;
}


.main {
  flex-grow: 1;
}


.footer {
  flex-grow: 0;
}

.header .index-columns {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
}

.header .index-column {
  display: flex;
  align-items: center;
}

.user {
  margin: 0 33px;
}

.logo {
  margin-right: 40px;
}

.intro .index-columns {
  display: flex;
}

.intro .index-column {
  flex: 1 1 50%;
}

.intro__image,
.intro__content {
  min-height: 764px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 65px;
  padding-right: 15px;
}

.intro__image {
  padding-left: 15px;
}


.offers {
  padding-top: 63px;
}


.offers__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.offers__item {
  flex: 1 1 calc(33.333% - 30px);
  min-height: 260px;
  margin: 0 15px;
}


.offers__item:last-child {
  min-height: 180px;
  margin-top: 30px;
  flex: 1 1 100%;
}





.products {
  padding: 97px 0 95px;
}


.products__title,
.products__subtitle {
  margin: 0;
  text-align: center;
}

.products__title {
  margin-bottom: 6px;
}

.products__subtitle {
  margin-bottom: 48px;
}


.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.products-item {
  flex: 0 1 calc(33.333% - 30px);
  margin: 15px 15px;

  &__image {
    margin-bottom: 25px;
  }

  &__content {
    padding: 0 15px;
    margin-bottom: 20px;
    max-width: 350px;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
  }

  &__text {
    margin: 0;
    margin-bottom: 18px;
  }
}




.advantages {
  padding: 104px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item {
    flex: 1 1 300px;
    min-height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    text-align: center;
  }
}


.advantages-item:nth-child(1)::before {
  margin-bottom: 28px;
}

.advantages-item:nth-child(2)::before {
  margin-bottom: 19px;
}


.advantages-item:nth-child(3)::before {
  margin-bottom: 25px;
}

.advantages-item__title {
  margin: 0;
  margin-bottom: 16px;
}


.advantages-item__text {
  margin: 0;
}




.subscribe {
  padding: 97px 0 126px;

  .index-columns {
    display: flex;
    align-items: flex-end;
  }

  .index-column {
    flex: 1 1 50%;
  }
}


.subscribe-info {
  text-align: center;
  max-width: 360px;

  &__avatar {
    margin-bottom: 30px;
  }

  &__text {
    margin: 0;
  }
}


.subscribe-form {
  max-width: 380px;
  display: flex;
  margin: 0 auto;

  &__email {
    flex-grow: 1;
    padding: 15px 22px;
  }

  &__button {
    padding: 15px 22px;
  }
}



.subscribe__title,
.subscribe__subtitle {
  margin: 0;
  text-align: center;
}

.subscribe__subtitle {
  margin-bottom: 32px;
}


.footer__container {
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
}


.social-item:not(:last-child) {
  margin-right: 7px;
}

.social-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 32px;
}