*,
*:before,
*::after{
  box-sizing: border-box;
}

html,
body{
  margin: 0;
  height: 100%;
}

.block1{
  @media (min-width: 1200px){
    color: red;
  }
}

.block2{
  @media (min-width: 1200px) {
    color: red;
  }
}