$font-color: #5d5d5d;
$base-font: 'Lato',
'Arial',
sans-serif;

// colors
$color-shark: #222224;
$mercury-color: #e8e8e8;
$froly-color: #f16d7f;
$white-color: #fff;
$intro-color-scorpion: #716769;
$soft-peach-color: #f1e4e6;
$offer-color-overlay: #211616;
$silver-chalice-color: #9f9f9f;
$alabaster-color: #f8f8f8;
$alabaster-text: #fbfbfb;
$mine-shaft: #3a3838;
$mercury-color: #e1e1e1;
$dove-gray: #6f6e6e;